extends ../layout

//- <li class="thumbnail" style="text-align: center; height: 200px; text-decoration: none;">
//-     <img src="{{#if picture}} {{picture}} {{else}} /pics/generic.png{{/if}}" height="150" width="125" alt="">
//-     <div>
//-     <h4>
//-             {{!-- TODO: input disable by default, with an edit button after. --}}
//-       <input style="text-align:center;border:0px;font-size:24px;background-color:transparent;cursor:default" id="fileName" value={{#if fileName}}{{fileName}}{{else}}新课件{{/if}}>
//-     </h4>
//-   </div>
//-     <ul class="row-fluid unstyled inline">
//-         <li class="span1">
//-             <a href="#decks/{{_id}}" id="editBtn" class="btn">
//-         <i class="icon-pencil"></i>
//-             </a>
//-         </li>
//-         <li class="span1">
//-             <a href="#" id="trashBtn" class="btn">
//-                 <i class="icon-trash"></i>
//-             </a>
//-         </li>
//-     </ul>
//- </li>

block content
  .container-fluid
    .page-header
      h2= title
    - if (articles.length)
      - each article in articles
        .article
          h3
            a(href='/articles/'+article._id, title=article.title) #{article.title}
          p= article.body

          .meta
            span.text-muted= formatDate(article.createdAt)

            - if (article.user)
              | &nbsp; - &nbsp;
              span Author &nbsp;

              - var name = article.user.profile.name ? article.user.profile.name : article.user.email

              a(href="/account/"+article.user._id)= name

            - if (article.tags)
              | &nbsp; - &nbsp;
              span Tags &nbsp;
              - each tag in article.tags.split(',')
                i.text-muted.fa.fa-tag &nbsp;
                a.tag(href="/tags/"+tag)= tag
                | &nbsp;&nbsp;

      - if (pages > 1)
        ul.pagination
          != createPagination(pages, page)
    - else
      h4.text-muted No articles.&nbsp;
        a(href="/articles/new") create one