extends ../layout

block content
  .container
    .page-header
      .h2.text-center= title
    - if (articles.length)
      section#Grid.row
        - each article in articles
          .col-xs-12.col-sm-6.col-md-3
            .grid.cs-style-1
              figure.single-deck
                a.cover-link(href='/articles/'+ article._id + '/present')
                img.img-responsive(src=(article.picture.src || '/img/generic.png') alt='')
                figcaption
                  .h4.text-center= article.fileName || '未命名'
                  .meta
                    p=article.desc

                    if (article.tags.length)
                      span 标签 - &nbsp;
                      - each tag in article.tags
                        i.text-muted.fa.fa-tag &nbsp;
                        a.tag(href="/tags/"+tag)= tag
                        | &nbsp;&nbsp;
                  if (article.user && req.user && article.user.id === req.user.id)
                    .image-buttons
                      a.btn.btn-dark(href='/articles/'+ article._id + '/manage')
                        i.fa.fa-edit(data-toggle='tooltip', data-placement='top', title='文档管理')
              .meta.group.clearfix
                .stats
                  .single-stat.comments
                    i.fa.fa-comment
                    |  #{article.comments.length}
                  .single-stat.views
                    i.fa.fa-eye
                    |  #{article.hitCounter}
                  .single-stat.loves
                    i.fa.fa-heart
                    |  #{article.love}
      - if (pages > 1)
        .row.text-center
          ul.pager
            li
              - var previous = page - 1 > 1 ? page - 1 : 1;
              a(href="?page=#{previous}")
                i.fa.fa-arrow-left
                |  &nbsp;上一页
            | &nbsp;&nbsp;&nbsp;&nbsp;
            li
              -var next = page + 1 < pages ? page + 1 : pages;
              a(href="?page=#{next}")
                | 下一页 &nbsp;
                i.fa.fa-arrow-right
          //- ul.pagination
            //- != createPagination(pages, page)
        section.blank
    - else
      h4.text-muted.text-center 无课件！&nbsp; 亲，请在上方搜索栏中输入关键词，再搜索试试。
