extends ../layout

block content
  .container
    .page-header
      h2.text-center= title
    - if (articles.length)
      #Grid.row
        - each article in articles
          .col-xs-12.col-sm-6.col-md-3
            .grid.cs-style-3
              figure.single-deck
                a.cover-link(href='/articles/'+ article._id + '/present')
                img(src=(article.picture || '/img/generic.png') alt='' width="300" height="250")
                figcaption
                  h4.text-center= article.fileName || '未命名'
                  .meta
                    | 创建于 &nbsp;
                    span.text-muted= formatDate(article.createdAt, 'YYYY年MM月DD日')
                    br
                    span 作者 - &nbsp;

                    if (article.user)
                      - var name = article.user.profile.name ? article.user.profile.name : article.user.email
                      a(href="/account/"+article.user._id)= name

                    br
                    span 标签 - &nbsp;

                    if (article.tags)
                      - each tag in article.tags
                        i.text-muted.fa.fa-tag &nbsp;
                        a.tag(href="/tags/"+tag)= tag
                        | &nbsp;&nbsp;
                  - if (article.user && article.user.id === req.user.id)
                    .image-buttons
                      a.btn.btn-primary(href='/articles/'+ article._id + '/manage')
                        i.fa.fa-edit(data-toggle='tooltip', data-placement='top', title='管理课件')
              .meta.group.clearfix
                .stats
                  .single-stat.comments
                  .sngle-stat.views
                    span.fa.fa-eye
                    |  #{article.hitCounter}
                  .single-stat.loves
      - if (pages > 1)
        .row.text-center
          ul.pagination
            != createPagination(pages, page)
    - else
      h4.text-muted.centered 无课件！&nbsp; 亲，请在上方搜索栏中输入关键词，再搜索试试。
