extends ../layout

block content
  .container-fluid
    .page-header
      h3= article.fileName
    .row
      .col-md-6
        img(src="#{article.picture}" width="300" height="250")
        .meta
          - if (article.user)
            - var name = article.user.profile.name ? article.user.profile.name : article.user.email
            p 作者 :&nbsp;
              a(href="/account/"+article.user._id)= name

          - if (article.tags)
            p 标签 &nbsp;
              - each tag in article.tags.split(',')
                i.text-muted.fa.fa-tag &nbsp;
                a.tag(href="/tags/"+tag)= tag
                | &nbsp;&nbsp;

          p.text-muted= formatDate(article.createdAt, "YYYY年MM月DD日")

      .col-md-6
        - if (!article.isNew && article.image && article.image.filename)
          img(src='http://' + oss.bucket + '.' + oss.host + '/' + article.image.filename)

    form(action="/articles/"+article.id, method="POST", onsubmit="return confirm('你确定吗?')")
      input(type='hidden', name='_csrf', value=_csrf)
      a.btn.btn-default(href='/articles/'+article._id+'/edit', title="edit") 编辑
        i.icon-edit
      | &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") 删除