extends ../layout

block content
  .container-fluid.text-center
    .page-header
      h3= article.fileName
    .row
      .col-md-12
        img(src="#{article.picture}" width="300" height="250")
        .meta
          .col-md-4.col-md-offset-4
            form.form-horizontal(method="POST", action='/articles/' + article._id + '/tags', role="form", enctype="multipart/form-data")

              input(type="hidden", name="_csrf", value=_csrf)

              //- .form-group
              //-   label.col-sm-2.control-label(for='desc') 介绍
              //-   .col-sm-10
              //-     textarea.form-control#desc(rows="5", name="desc", placeholder='Enter the article description')=article.desc

              .form-group
                label.col-sm-2.control-label(for='tags') 标签
                .col-sm-8
                  input.form-control#tags(type='text', name="tags", value=article.getTag(), placeholder='Enter the tags. split with ,')
                .col-sm-2
                  button.btn.btn-primary(type='submit') 保存


      //- .col-md-6
      //-   - if (!article.isNew && article.image && article.image.filename)
      //-     img(src='http://' + oss.bucket + '.' + oss.host + '/' + article.image.filename)

    form(action="/articles/"+article.id, method="POST", onsubmit="return confirm('你确定吗?')")
      input(type='hidden', name='_csrf', value=_csrf)
      a.btn.btn-success(href='/articles/'+article._id+'/edit', title="edit") 编辑
        i.icon-edit
      | &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") 删除
      | &nbsp;&nbsp;
      a.btn.btn-default(href='/articles/my', title="cancel") 取消
