extends ../layout

append scripts
  script(type='text/javascript' src='/js/vendors/bootstrap-tagsinput.js')
  script(type='text/javascript').
    submitForms = function(){
        var action = $('#desc').attr('action');
        var data = $('#desc textarea').val();
        var csrf = $('#desc input').val();
        $.post(action, {_csrf: csrf, desc: data});
        $("#tags").submit();
    }

block content
  .container
    .page-header
    .row
      .col-md-offset-2.col-md-8
        .panel.panel-primary
          .panel-heading
            h5.text-center.panel-title.bolder 课件介绍
          .panel-body
            h4.article-title.text-center= article.fileName
            .article-picture.text-center
              img(src=(article.picture.src || '/img/generic.png') alt='' width="300" height="195")
            section.meta.row
              .col-md-8.col-md-offset-2
                form#desc.form-horizontal(method="POST", action='/articles/' + article._id + '/desc')
                  input(type="hidden", name="_csrf", value=_csrf)
                  .form-group
                    label.col-md-2.control-label(for='desc') 文档概述
                    .col-md-10
                      textarea.form-control(rows="5", name="desc", placeholder='良好的文档描述有助于提高观看此数。。。')=article.desc

                form#tags.form-horizontal(method="POST", action='/articles/' + article._id + '/tags', role="form", enctype="multipart/form-data")
                  input(type="hidden", name="_csrf", value=_csrf)
                  .form-group
                    label.col-md-2.control-label(for='tags') 标签
                    .col-md-10
                      input.form-control(type='text', name="tags", value=article.getTag(), placeholder='多个标签用逗号隔开' data-role="tagsinput")
                  .col-md-12.text-center
                    button.btn.btn-success.btn-addon(type='button' onclick="submitForms()")
                      i.fa.fa-save
                      |  保存更新
                    | &nbsp;&nbsp;
                    a.btn.btn-default.btn-addon(href='/account', title="cancel")
                      i.fa.fa-ban
                      |  取消修改
    .row
      .col-md-offset-2.col-md-8
        .panel.panel-info
          .panel-heading
            h5.text-center.panel-title.bolder 课件管理
          .panel-body
            section.manage.text-center
              form(action="/articles/"+article.id, method="POST", onsubmit="return confirm('你确定吗?')")
                input(type='hidden', name='_csrf', value=_csrf)
                a.btn.btn-primary.btn-addon(href='/articles/'+article._id+'/edit', title="edit")
                  i.fa.fa-edit
                  |  编辑文档
                | &nbsp;&nbsp;
                input(type="hidden", name="_method", value="DELETE")
                button.btn.btn-danger.btn-addon(type="submit")
                  i.fa.fa-trash-o
                  |  删除文档
