extends ../layout

block head
  link(rel='stylesheet', href="/css/app/web-fonts.css", type='text/css')
  link(rel='stylesheet', href="/css/app/themes/backgroundClasses.css", type='text/css')

block content
  - function round(v) {return Math2.round(v, 2);}
  .container-fluid(style="min-height: 750px;")
    .bg(style="width: 100%; height: 100%;")
      #impress
        - each slide in article.slides
          .step(data-x='#{slide.x}', data-y='#{slide.y}')
            div(class="#{slide.background}" style="width:#{article.width}px; height:#{article.height}px;")
              - each component in slide.components
                - var top = round(component.y) + 'px';
                - var left = round(component.x) + 'px';
                - if (component.scale) {
                -   var width = round(component.scale.width) + 'px';
                -   var height = round(component.scale.height) + 'px';
                - }
                div(style="top:#{top}; left:#{left}; width:#{width}; height:#{height}; position: absolute; line-height: normal;")
                  - if (component.type == 'Image')
                    img(src='#{component.src}')
                  - if (component.type == 'TextBox')
                    div(style="font-family:#{component.face}; font-size:#{component.size}px; font-weight:#{component.weight}; font-style:#{component.style}; color: #{component.color}; text-decoration: #{component.decoration}; text-align: #{component.align}")= component.text

  .container
    h3 评论
    - each comment in article.comments
      include ../comment/comment
    include ../comment/form


append scripts
  script(type='text/javascript', src='/js/vendors/impress.js')
  script(type='text/javascript').
    if (!window.presStarted) {
      startPres(document, window);
      pres().init();
    }
