extends ../layout

append head
  link(rel='stylesheet', href="/css/app/web-fonts.css", type='text/css')
  link(rel='stylesheet', href="/css/app/themes/backgroundClasses.css", type='text/css')
  link(rel='stylesheet', href="/css/app/impress.css", type='text/css')

block content
  - function round(v) {return Math2.round(v, 2);}
  .container-fluid
    .bg.impress-not-supported
      .page-header.fallback-message.text-center
        p 你的浏览器不支持此功能，请下载并更新浏览器。

      #impress
        div.id
          .hidden= article.id
        - each slide in article.slides
          .step(data-x='#{slide.x}', data-y='#{slide.y}')
            div(class="#{slide.background}" style="width:#{article.width}px; height:#{article.height}px;")
              - each component in slide.components
                - var top = round(component.y) + 'px';
                - var left = round(component.x) + 'px';
                - if (component.scale) {
                -   var width = round(component.scale.width) + 'px';
                -   var height = round(component.scale.height) + 'px';
                - }
                div(style="top:#{top}; left:#{left}; width:#{width}; height:#{height}; position: absolute; line-height: normal;")
                  - if (component.type == 'Image')
                    img(src='#{component.src}')
                  - if (component.type == 'TextBox')
                    div(style="font-family:#{component.face}; font-size:#{component.size}px; font-weight:#{component.weight}; font-style:#{component.style}; color: #{component.color}; text-decoration: #{component.decoration}; text-align: #{component.align}")= component.text
      a#backtoList(href="/articles/explore")
        i.fa.fa-2x.fa-list
      a#arrowLeft.arrow &lt;
      a#arrowRight.arrow &gt;
  .container
    .present-footer
      .footer-left
        h4.meta
          | 创建于 &nbsp;
          span.text-muted= formatDate(article.createdAt, 'YYYY年MM月DD日')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          if (article.user)
            span 作者 - &nbsp;
            - var name = article.user.profile.name ? article.user.profile.name : article.user.email
            a(href="/account/"+article.user._id)= name
      //- .footer-right
      //-   .loves
      //-     i.fa.fa-heart.fa-2x.text-danger &nbsp;#{article.love}
    .comments
      h3 评论
      - each comment in article.comments
        include ../comment/comment
      include ../comment/form
    section

append scripts
  script(type='text/javascript', src='/js/vendors/impress.js')
  script(type='text/javascript', src='/js/present.js')
