extends ../layout

block content
  .container-fluid
    header.page-header
      h3 用户
    .row
      .col-sm-2
        a.profile-picture(href='#')
          img.img-responsive.img-circle(src='#{account.gravatar()}')
      .col-sm-7
        ul.profile-info-sections
          li
            .profile-name
              strong
                a(href='/account/' + account.id) #{account.profile.name}
              | &#160;&#160;&#160;
              span
                a(href='#') #{account.email}
          li
            h4= title
            .text-right
              form.input-group
                input.form-control(type='text', placeholder='按姓名筛选 ')
                span.input-group-btn
                  button.btn.btn-inverse(type='submit') 搜索
            hr
            - each follower in account.contacts.followers
              .pull-left
                .media
                  a.pull-left(href='#')
                    img.media-object(src='#{follower.gravatar()}', alt='photo', width='100', height='100')
                  .media-body
                    a.strong(href='/account/' + follower.id) #{follower.profile.name}
                    a.clearfix.text-primary.strong(href='') #{follower.profile.email}
                    .media-icons
                      a(href='')
                        i.fa.text-faded.fa-fw.fa-clock-o
                      a(href='')
                        i.fa.text-faded.fa-fw.fa-calendar
                      a(href='')
                        i.fa.text-faded.fa-fw.fa-user
                      a(href='')
                        i.fa.text-faded.fa-fw.fa-star